body {
  height: 2000px;    
}
.scroll-hide {
  height: 1300px;
  width: 300px;
  background-color: #005197;
  color: #fff;
  padding: 10px; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}
.scroll-hide{
text-align:center;
}
