body{
    background-color: rgb(255, 255, 255);
    font-family: Arial;
    color: floralwhite;
}

@font-face {
    font-family: Evermore;
    src: url("Evermore.woff");
}

@font-face {
    font-family: Extraoin;
    src: url("Extraoin\ Zhurdlyou\ Anarchy.woff");
}

h1{
    font-family: 'Extraoin';
    color: floralwhite;
    font-size: 60px;
    text-align: center;
}